.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/2021-01-18_12.12.031.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 36px 365px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 59px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 9px auto 60px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    width: 411px;
    font-weight: normal;
    margin-right: 306px;
    margin-left: 223px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 186px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 64px;
    margin-left: 65px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-bottom: 41px;
  }
}.u-section-2 {
  background-image: linear-gradient(to right, #ffe57f, #c750b6);
}

.u-section-2 .u-sheet-1 {
  min-height: 979px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 923px;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 165px auto 0 44px;
}

.u-section-2 .u-shape-2 {
  height: 421px;
  width: 475px;
  margin: -460px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 423px;
  height: 423px;
  margin: -422px auto 0 26px;
}

.u-section-2 .u-shape-3 {
  height: 421px;
  width: 475px;
  margin: -421px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 923px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 216px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -50px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 761px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 423px;
    margin-top: -476px;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -335px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 423px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 761px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-shape-2 {
    width: 320px;
    margin-top: -365px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -357px;
  }

  .u-section-2 .u-shape-3 {
    width: 320px;
    margin-top: -318px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 937px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -377px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -412px;
    margin-left: 70px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -371px;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -361px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -69px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -33px;
    margin-bottom: 20px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/34bb1efc-0142-4ef3-bb04-c15c8439937e.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 210px auto 0 212px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -39px 212px 0 auto;
}

.u-section-3 .u-list-1 {
  width: 570px;
  min-height: 480px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 82px;
  width: 82px;
  animation-duration: 1000ms;
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -91px 0 0 147px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 82px;
  width: 82px;
  animation-duration: 1000ms;
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-4 {
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -91px 0 0 147px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 82px;
  width: 82px;
  animation-duration: 1000ms;
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-5 {
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -91px 0 0 147px;
}

.u-section-3 .u-text-6 {
  line-height: 25.6px;
  animation-duration: 1000ms;
  margin: -320px 0 0 570px;
}

.u-section-3 .u-icon-4 {
  height: 82px;
  width: 82px;
  animation-duration: 1000ms;
  margin: -345px 244px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 174px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 174px;
  }

  .u-section-3 .u-list-1 {
    width: 470px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 133px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 133px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 645px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    min-height: 605px;
    margin-top: -651px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -82px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -82px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -82px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 158px;
    margin-right: 8px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -470px;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-table-1 {
  margin: 20px 0 60px auto;
}

.u-block-79aa-49 {
  background-image: none;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
  height: 382px;
}

.u-section-4 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  line-height: 1.6;
  font-size: 1.125rem;
}

.u-section-4 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-16 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-17 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-18 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-19 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-4 .u-table-cell-20 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-21 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-25 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-26 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-4 .u-table-cell-27 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-28 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-30 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-31 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-32 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-33 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-34 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-35 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-37 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-38 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-39 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-40 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-41 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-42 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-44 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-45 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-46 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-47 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-48 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-49 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-51 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-52 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-53 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-54 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-55 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-56 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-58 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-59 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-60 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-61 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-62 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-63 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-65 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-66 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-67 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-68 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-69 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-70 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-72 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-73 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-74 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-75 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-76 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-77 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-79 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-80 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-81 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-82 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-83 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-84 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-86 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-87 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-88 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-89 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-90 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-4 .u-table-cell-91 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-block-79aa-35 {
  background-image: none;
}

.u-block-79aa-97 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-block-79aa-89 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-block-79aa-113 {
  font-size: 2.25rem;
  line-height: 1;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-cell-9 {
    font-size: 2rem;
  }

  .u-section-4 .u-table-cell-10 {
    font-size: 2rem;
  }

  .u-section-4 .u-table-cell-11 {
    font-size: 2rem;
  }

  .u-section-4 .u-table-cell-12 {
    font-size: 2rem;
  }

  .u-section-4 .u-table-cell-13 {
    font-size: 2rem;
  }

  .u-section-4 .u-table-cell-14 {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-cell-9 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-table-cell-12 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-table-cell-13 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-table-cell-14 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 993px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 164px auto 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 586px;
  margin: 11px auto 60px 0;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0 300px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 15px 0 0 300px;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0 300px;
}

.u-section-5 .u-image-1 {
  width: 240px;
  height: 101px;
  margin: 48px auto 0 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  margin: -148px 0 0 300px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0 300px;
}

.u-section-5 .u-text-7 {
  line-height: 1.8;
  margin: 0 0 0 300px;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-style: normal;
  margin: 0 496px 0 300px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 15px 0 0 300px;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 45px 0 0 300px;
}

.u-section-5 .u-image-2 {
  width: 240px;
  height: 101px;
  margin: 24px auto 0 0;
}

.u-section-5 .u-text-11 {
  line-height: 25.6px;
  margin: -125px 0 0 300px;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-style: normal;
  margin: 0 633px 0 300px;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  margin: 15px 0 0 300px;
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-text-14 {
  font-weight: 700;
  margin: 45px 0 0 300px;
}

.u-section-5 .u-image-3 {
  width: 240px;
  height: 229px;
  margin: -100px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 283px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -183px;
    margin-left: 283px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-right: -183px;
    margin-left: 283px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -144px;
    margin-right: -183px;
    margin-left: 283px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: -183px;
    margin-left: 283px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 283px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 10px;
    margin-right: 311px;
    margin-left: 285px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 36px;
    margin-right: -85px;
    margin-left: 285px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 140px;
    margin-right: -185px;
    margin-left: 285px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -101px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 6px;
    margin-right: -285px;
    margin-left: 285px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-right: auto;
    margin-left: 277px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-right: -33px;
    margin-left: 277px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-top: 99px;
    margin-right: -33px;
    margin-left: 277px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -164px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 263px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 23px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 63px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -100px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 2px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 263px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 79px;
    margin-right: 368px;
    margin-left: 8px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 29px;
    margin-right: 82px;
    margin-left: 8px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 82px;
    margin-left: 175px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -214px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-5 .u-text-11 {
    margin-top: 128px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-top: 17px;
    margin-left: 31px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 45px;
    margin-right: 155px;
    margin-left: 28px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 94px;
    margin-right: 168px;
    margin-left: 15px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -363px;
    margin-right: 94px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-tabs-1 {
    min-height: 691px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -70px;
    margin-right: 123px;
    margin-left: 254px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 130px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -195px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 123px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 236px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 105px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 24px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 43px;
    margin-left: 0;
  }

  .u-section-5 .u-text-14 {
    margin-right: 43px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-tabs-1 {
    min-height: 763px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-top: 113px;
    margin-right: 174px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 37px;
  }

  .u-section-5 .u-image-1 {
    height: 148px;
    margin-top: -254px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 109px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 27px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: -19px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 118px;
    margin-right: 46px;
    margin-left: -10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 36px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 51px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -307px;
    margin-right: 80px;
    margin-left: 35px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 206px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 60px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 178px;
    margin-left: 32px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 67px;
    margin-right: 68px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-14 {
    margin-top: 15px;
    margin-right: 68px;
    margin-left: 22px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -548px;
    margin-right: auto;
    margin-left: 32px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 134px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 48px auto;
}.u-section-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-sheet-1 {
  min-height: 852px;
}

.u-section-7 .u-slider-1 {
  width: 669px;
  min-height: 571px;
  margin: 195px auto 0 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/2021-01-22_23.55.03_3.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/2021-01-22_23.58.08_3.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/2021-01-23_00.02.12_5.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
}

.u-section-7 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-7 .u-group-1 {
  width: 581px;
  min-height: 432px;
  background-image: none;
  margin: -489px 0 60px auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    width: 584px;
    height: auto;
  }

  .u-section-7 .u-group-1 {
    width: 482px;
    min-height: 433px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-slider-1 {
    width: 518px;
    min-height: 548px;
  }

  .u-section-7 .u-group-1 {
    margin-right: auto;
    margin-left: 242px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-slider-1 {
    min-height: 519px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-indicators-1 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 94px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    margin-left: 29px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-slider-1 {
    min-height: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    min-height: 447px;
    width: 300px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 25px 30px;
  }
}